# Hunter Participation by State (WIP)

A look at trends of hunter participation by state and region in the United States based on hunting license information from 2004 to 2018.

## Data Source

Hunting license data are from U.S. Fish and Wildlife Service's [Wildlife and Sport Fish Restoration Program](https://wsfrprograms.fws.gov/Subpages/LicenseInfo/Hunting.htm) page.

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import sys
!{sys.executable} -m pip install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/55/e2/7e523df8558b7f4b2ab4c62014fd378ccecce3fdc14c9928b272a88ae4cc/folium-0.7.0-py3-none-any.whl (85kB)
    100% |████████████████████████████████| 92kB 2.4MB/s ta 0:00:01
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/63/36/1c93318e9653f4e414a2e0c3b98fc898b4970e939afeedeee6075dd3b703/branca-0.3.1-py3-none-any.whl
Requirement already satisfied: six in /Applications/anaconda/lib/python3.6/site-packages (from folium) (1.10.0)
Requirement already satisfied: jinja2 in /Applications/anaconda/lib/python3.6/site-packages (from folium) (2.9.6)
Requirement already satisfied: numpy in /Applications/anaconda/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: requests in /Applications/anaconda/lib/python3.6/site-packages (from folium) (2.14.2)
Requirement already satisfied: MarkupSafe>=0.23 in /Applications/anaconda/lib/python3.6/site-packages (from jinja2->folium) (0.23)
Installing collected packages: branca, folium
Successfully installed branca-0.3.1 folium-0.7.0
You are using pip version 18.1, however version 19.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [43]:
# Import the number of paid license holders by state
# A paid license holder is one individual regardless of the number of licenses purchased
license_holders = pd.read_excel('./data/NatlHuntingLicenseReportAllYearsClean.xlsx',
                             sheet_name='LicenseHolders',
                             index_col='State')
license_holders['2004-18 Change (%)'] = (license_holders[2018] - license_holders[2004]) / license_holders[2004] *100
license_holders['2008-18 Change (%)'] = (license_holders[2018] - license_holders[2008]) / license_holders[2008] *100
license_holders['2013-18 Change (%)'] = (license_holders[2018] - license_holders[2013]) / license_holders[2013] *100

In [44]:
license_holders.head()

,Region,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2004-18 Change (%),2008-18 Change (%),2013-18 Change (%)
State,,,,,,,,,,,,,,,,,,,
AK,Pacific,108921,108487,106916,107131,107260,101547,106653,101750,97858,96979,96979,99954,98084,99121,97537,11.671468,12.314006,7.261662
AL,East South Central,547905,548829,565139,507926,507403,530127,527713,540098,264710,264640,255923,259241,267354,270229,273638,100.229866,114.089785,3.353536
AR,West South Central,326559,340200,328542,326779,382212,390554,385275,390932,381521,380931,354042,375737,378162,386559,402493,-18.865918,-7.762638,-16.385698
AZ,Mountain,305214,324553,215444,200092,195213,195664,194727,191834,201627,202976,202976,196706,182044,181467,183478,66.349099,50.369502,55.988838
CA,Pacific,280967,284069,287147,283539,283539,281472,289609,293263,296623,300615,295163,299303,305962,315588,320092,-12.223048,-4.809546,-0.179414

In [45]:
# Import the number of total licenses by state
# Persons who hunted in more than one state are counted in each state where they hunted
total_licenses = pd.read_excel('./data/NatlHuntingLicenseReportAllYearsClean.xlsx',
                             sheet_name='TotalLicenses',
                             index_col='State')
total_licenses['2004-18 Year Change (%)'] = (total_licenses[2018] - total_licenses[2004]) / total_licenses[2004] *100
total_licenses['2008-18 Year Change (%)'] = (total_licenses[2018] - total_licenses[2008]) / total_licenses[2008] *100
total_licenses['2013-18 Year Change (%)'] = (total_licenses[2018] - total_licenses[2013]) / total_licenses[2013] *100

In [46]:
total_licenses.head()

,Region,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2004-18 Year Change (%),2008-18 Year Change (%),2013-18 Year Change (%)
State,,,,,,,,,,,,,,,,,,,
AK,Pacific,352780,402002,362739,310644,287352,278400,353266,250073,239557,227588,227588,227701,223048,223215,222544,58.521461,55.008173,26.716954
AL,East South Central,579944,587686,604043,599876,597095,609156,607121,625962,287455,291183,283899,289660,302220,299224,303217,91.263682,104.278282,-4.795488
AR,West South Central,517046,533585,521098,498919,492479,475057,468656,481943,434479,424003,388698,421548,422822,438108,464563,11.297284,33.019980,8.838729
AZ,Mountain,517747,540038,446402,422136,409672,414623,409680,411617,419161,428669,428669,415432,391973,396299,406210,27.457965,20.780136,24.871751
CA,Pacific,1030160,1054000,1035351,847348,847348,834739,875297,828735,836694,841239,830700,831531,833977,858691,868209,18.653458,24.011075,23.411030

In [47]:
total_licenses.groupby('Region').sum()

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2004-18 Year Change (%),2008-18 Year Change (%),2013-18 Year Change (%)
Region,,,,,,,,,,,,,,,,,,
East North Central,7774281,7932047,7914696,7881094,7895221,7244328,7448976,7391928,7867710,8115035,8116326,7991966,8158905,7651215,7780312,-28.280782,-30.799706,121.903729
East South Central,2358585,2415310,2440023,2369666,2237091,2117274,2166657,2179225,1996504,2073323,1939192,2257713,2539145,2228597,2406707,94.734627,141.550506,83.717303
Middle Atlantic,4158516,3938018,4102804,4111499,4092294,3861553,4204620,3702943,3890478,3895788,3976897,4180592,4512630,4649215,3704067,54.980086,22.191319,29.948979
Mountain,4433150,4198316,4053309,3880533,3803300,6219171,3919781,3864808,3825153,3718387,3698928,3705706,3651206,3558755,3634280,171.447487,210.515386,-23.022398
New England,1057451,1060703,1052372,1058350,1001843,1014127,1206007,1034653,1055542,1056922,1048911,1012615,1056888,1057166,1085988,-22.284628,-1.602780,267.290860
Pacific,3459255,3541481,3485075,3280822,3179092,3246277,3429591,3307851,2255032,3316056,3362806,3447080,3410156,3445583,3396588,132.150693,91.065477,68.656986
South Atlantic,4896633,4941761,4357934,4140416,4049960,3662019,4322422,4403914,4416648,14410091,4453315,4123939,4233122,4094418,4077900,282.350395,103.911557,inf
West North Central,5630668,5617405,5797748,6110372,6093943,6162009,6188862,6235985,6185498,6186224,6168325,5973914,5942245,5334099,5398629,27.747339,-62.812914,-62.662911
West South Central,3231286,3173223,3122595,3007291,2879180,2859681,2811970,2532412,2588016,2501638,2416499,2916080,2627300,2654374,2703461,62.322945,263.828478,65.515582

In [ ]:
# Create chloropleth map
'''
us_states = 
map.choropleth(geo_data=my_USA_map, data=my_dataframe,
             columns=['State', 'Participation'],
             key_on='feature.id',
             fill_color='RdYlGn', fill_opacity=0.7, line_opacity=0.2,
             legend_name='Participation Rate (%)')
map
'''